
// 添加背景图片
body {
  background: url(/images/backgroundImage.jpg);//自己喜欢的图片地址
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
}

//博客内容透明化
//文章内容的透明度设置
.main-inner {
  opacity: 0.98;
}

//侧边框的透明度设置
.sidebar {
  opacity: 0.95;
}

//菜单栏的透明度设置
.header-inner {
  opacity: 0.95;
}

//搜索框（local-search）的透明度设置
.popup {
  opacity: 0.95;
}

//页脚文字
.footer,.footer a,.footer .with-love{
  color: #fff
}


// 超链接样式
.post-body p a {
  color: #6097ff;
  border-bottom: none;
  border-bottom: 1px solid #6097ff;
  &:hover {
    color: #fc6423;
    border-bottom: none;
    border-bottom: 1px solid #fc6423;
  }
}
